default:
    suites:
        default:
            paths:
                - '%paths.base%/features'
            contexts:
                - behatch:context:json
                - behatch:context:rest

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: DumpIt\Api\Kernel
            bootstrap: 'config/bootstrap.php'

        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~

        Behatch\Extension: ~
